{% extends 'base.html' %}
{% block content %}

    <div class="container">
        <div class="row">
            <div class="col-6">
                {% for symptom in symptoms %}
                <div class="col-12">
                    <button class="btn btn-primary mt-3">{{ symptom.label }}</button>
                </div>
                {% endfor %}
                <form action="{% url 'patients_assessment'  %}" class="POST">
                    <button type="submit" class="btn btn-light">Diagnosis</button>
                </form>
            </div>
        </div>
    </div>
    
{% endblock %}