{% extends 'base.html' %}
{% block content %}
    <form action="{% url 'create_patients' %}" method="POST">
        {% csrf_token %}
        <div class="form-group">
            <div class="input-group">
            {{ form.query }}
                <div class="input-group-append">
                    <button type="submit" class="btn btn-dark">Add</button>
                </div>
            </div>
        </div>
    </form>
    {% for search in search %}
        <form action="{% url 'patients_symptoms' %}" method="POST">
            {% csrf_token %}
            <input type="hidden" name="s_id" value="{{ search.id }}">
            <input type="hidden" name="label" value="{{ search.label }}">
            <button type="submit" class="btn btn-dark">{{ search.label }}</button>
        </form>
    {% endfor %}
    
    {% for symptom in symptoms %}
        <button class="btn btn-primary">{{ symptom.label }}</button>
    {% endfor %}
    
{% endblock %}