{% extends 'base.html' %}
{% block content %}
{% load crispy_forms_tags %}

<div class="container register">
    <div class="row">
        <div class="col-md-3 register-left">
            <img src="/static/images/recovery-logo2.png" alt=""/>
            <h3>Welcome</h3>
            <p>You are about to begin...</p>
            <a href="{% url 'home'  %}" class="btn btn-light">About</a>
        </div>
        <div class="col-md-9 register-right">
            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                    <h3 class="register-heading">Signup</h3>
                    <div class="row register-form">
                        <div class="col-md-6">
                            <form action="{% url 'patients'  %}" method="post">
                                {% csrf_token %}
                                {{ form|crispy}}
                                <input type="submit" class="btnRegister"  value="Continue"/>
                            </form>
                        </div>
                        <div class="col-md-6">
                            <!-- Add content to right of form -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
{% endblock %}